body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: rgb(99, 81, 117);
  }
  
  h2{
      margin: 0;
  }
  
  .item {
    background-color: rgb(135, 122, 138);
    padding: 30px;
    border-radius: 3%;
  }
  a {
    background-color: rgb(155, 93, 214);
    text-decoration: none;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 4px;
    color: rgb(38, 0, 73);
  }
  .grid{
      display: grid;
      grid-template-columns: 300px 300px;
      gap: 20px;
      justify-content: space-between;
      align-content: end;
      height: 2000px;
  }
  img{
      max-width: 100%;
      border-radius: 4%;
  }